body{
    background: url("https://media.istockphoto.com/id/1644722689/photo/autumn-decoration-with-leafs-on-rustic-background.webp?b=1&s=170667a&w=0&k=20&c=aRdPqMJ6LUu_5l8yLzYEEh6dJqXsTBbNRUozBCwEKjs=");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
input{
    color:white;
}